<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a7080e582e06b4f45335a33b6059bf0a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_a7080e582e06b4f45335a33b6059bf0a" ></div>
        
</body>
<script>
    
    
            var map_a7080e582e06b4f45335a33b6059bf0a = L.map(
                "map_a7080e582e06b4f45335a33b6059bf0a",
                {
                    center: [-16.4090474, -71.537451],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_255b469fdb50febbc958880c47721b92 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_255b469fdb50febbc958880c47721b92.addTo(map_a7080e582e06b4f45335a33b6059bf0a);
        
    
            var circle_marker_bb703542f3138fa27e6968a4bc238709 = L.circleMarker(
                [-16.4223984444, -71.5073168278],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a7080e582e06b4f45335a33b6059bf0a);
        
    
        var popup_9b8541e060392596f26b4864a7dc4522 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_26075b93a00beec5b210a08e2ca17cc6 = $(`<div id="html_26075b93a00beec5b210a08e2ca17cc6" style="width: 100.0%; height: 100.0%;">test reporte - 🔴 Alto</div>`)[0];
                popup_9b8541e060392596f26b4864a7dc4522.setContent(html_26075b93a00beec5b210a08e2ca17cc6);
            
        

        circle_marker_bb703542f3138fa27e6968a4bc238709.bindPopup(popup_9b8541e060392596f26b4864a7dc4522)
        ;

        
    
    
            var circle_marker_3740d67683de36d24a9e875263eb9639 = L.circleMarker(
                [-16.388529, -71.555243],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a7080e582e06b4f45335a33b6059bf0a);
        
    
        var popup_ac388bb7ca4a20628dfe4343f626baea = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6ef79d9700271d865a676307267e9b28 = $(`<div id="html_6ef79d9700271d865a676307267e9b28" style="width: 100.0%; height: 100.0%;">Calle cerrada - 🟡 Medio</div>`)[0];
                popup_ac388bb7ca4a20628dfe4343f626baea.setContent(html_6ef79d9700271d865a676307267e9b28);
            
        

        circle_marker_3740d67683de36d24a9e875263eb9639.bindPopup(popup_ac388bb7ca4a20628dfe4343f626baea)
        ;

        
    
    
            var circle_marker_b2accac0d2328e91ef676aa5f3dc77b0 = L.circleMarker(
                [-16.390587, -71.545329],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a7080e582e06b4f45335a33b6059bf0a);
        
    
        var popup_ae4a25e75ae193f4baa8610919fc68be = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bb354637c748b2a3e8a103fd33314c15 = $(`<div id="html_bb354637c748b2a3e8a103fd33314c15" style="width: 100.0%; height: 100.0%;">Av. Ejercito - 🟡 Medio</div>`)[0];
                popup_ae4a25e75ae193f4baa8610919fc68be.setContent(html_bb354637c748b2a3e8a103fd33314c15);
            
        

        circle_marker_b2accac0d2328e91ef676aa5f3dc77b0.bindPopup(popup_ae4a25e75ae193f4baa8610919fc68be)
        ;

        
    
    
            var circle_marker_5971cbc661d75bd53f7d514c0a972636 = L.circleMarker(
                [-16.39524, -71.555028],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "darkred", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_a7080e582e06b4f45335a33b6059bf0a);
        
    
        var popup_9a987b5578245da6df03508d86617ae7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_428bd1ab7ad1415f000891692d733faa = $(`<div id="html_428bd1ab7ad1415f000891692d733faa" style="width: 100.0%; height: 100.0%;">Accidente en avenida metropolitana - 🚨 Crítico</div>`)[0];
                popup_9a987b5578245da6df03508d86617ae7.setContent(html_428bd1ab7ad1415f000891692d733faa);
            
        

        circle_marker_5971cbc661d75bd53f7d514c0a972636.bindPopup(popup_9a987b5578245da6df03508d86617ae7)
        ;

        
    
    
            var heat_map_76a1128de761ddfa2d0ad49a5fd8909c = L.heatLayer(
                [[-16.4223984444, -71.5073168278, 3], [-16.388529, -71.555243, 2], [-16.390587, -71.545329, 2], [-16.39524, -71.555028, 4]],
                {
  "minOpacity": 0.5,
  "maxZoom": 1,
  "radius": 20,
  "blur": 15,
}
            );
        
    
            heat_map_76a1128de761ddfa2d0ad49a5fd8909c.addTo(map_a7080e582e06b4f45335a33b6059bf0a);
        
</script>
</html>