<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a7d576dd1f117af7bc0bcf2dc66076bd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_a7d576dd1f117af7bc0bcf2dc66076bd" ></div>
        
</body>
<script>
    
    
            var map_a7d576dd1f117af7bc0bcf2dc66076bd = L.map(
                "map_a7d576dd1f117af7bc0bcf2dc66076bd",
                {
                    center: [-16.4090474, -71.537451],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_d1649e70db36fe28b6922bdead1c5b2f = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_d1649e70db36fe28b6922bdead1c5b2f.addTo(map_a7d576dd1f117af7bc0bcf2dc66076bd);
        
    
            var circle_marker_088f0ad25e9e57078bd9c1a13ff1aed0 = L.circleMarker(
                [-16.4034, -71.530631],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a7d576dd1f117af7bc0bcf2dc66076bd);
        
    
        var popup_36d9282c717315fc3209992e4483ba14 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c5cc50865fa144e87a1165114d2c3850 = $(`<div id="html_c5cc50865fa144e87a1165114d2c3850" style="width: 100.0%; height: 100.0%;">test reporte - 🟡 Medio</div>`)[0];
                popup_36d9282c717315fc3209992e4483ba14.setContent(html_c5cc50865fa144e87a1165114d2c3850);
            
        

        circle_marker_088f0ad25e9e57078bd9c1a13ff1aed0.bindPopup(popup_36d9282c717315fc3209992e4483ba14)
        ;

        
    
    
            var circle_marker_d6adfe2808250280eb26ef82d774fb9f = L.circleMarker(
                [-16.404604, -71.527277],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a7d576dd1f117af7bc0bcf2dc66076bd);
        
    
        var popup_799b541c7ce79dbb5d5b0605226a8f48 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1becbea0817272a22ba86716167f9950 = $(`<div id="html_1becbea0817272a22ba86716167f9950" style="width: 100.0%; height: 100.0%;">asdasdasdsa - 🟡 Medio</div>`)[0];
                popup_799b541c7ce79dbb5d5b0605226a8f48.setContent(html_1becbea0817272a22ba86716167f9950);
            
        

        circle_marker_d6adfe2808250280eb26ef82d774fb9f.bindPopup(popup_799b541c7ce79dbb5d5b0605226a8f48)
        ;

        
    
    
            var circle_marker_a9e99e3dbcd47cf1aa43fecc4512309d = L.circleMarker(
                [-16.403796, -71.527112],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a7d576dd1f117af7bc0bcf2dc66076bd);
        
    
        var popup_7a3c05b521bc6e19826611ab9c8d3cbe = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6d80b4ceb04f1362312a861980d7d172 = $(`<div id="html_6d80b4ceb04f1362312a861980d7d172" style="width: 100.0%; height: 100.0%;">choque asdasd - 🟡 Medio</div>`)[0];
                popup_7a3c05b521bc6e19826611ab9c8d3cbe.setContent(html_6d80b4ceb04f1362312a861980d7d172);
            
        

        circle_marker_a9e99e3dbcd47cf1aa43fecc4512309d.bindPopup(popup_7a3c05b521bc6e19826611ab9c8d3cbe)
        ;

        
    
    
            var circle_marker_a919eb71fef1cda897af00bf65120fa7 = L.circleMarker(
                [-16.3233, -71.537991],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a7d576dd1f117af7bc0bcf2dc66076bd);
        
    
        var popup_7a77073485f44f3e940ce0b9aca92ee2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_83002f9f5d92f62988d71e8feb05c2d1 = $(`<div id="html_83002f9f5d92f62988d71e8feb05c2d1" style="width: 100.0%; height: 100.0%;">Accidente en Avelino Caceres - 🟡 Medio</div>`)[0];
                popup_7a77073485f44f3e940ce0b9aca92ee2.setContent(html_83002f9f5d92f62988d71e8feb05c2d1);
            
        

        circle_marker_a919eb71fef1cda897af00bf65120fa7.bindPopup(popup_7a77073485f44f3e940ce0b9aca92ee2)
        ;

        
    
    
            var heat_map_2245dd3ddc21a250439b7dec6864c555 = L.heatLayer(
                [[-16.4034, -71.530631, 2], [-16.404604, -71.527277, 2], [-16.403796, -71.527112, 2], [-16.3233, -71.537991, 2]],
                {
  "minOpacity": 0.5,
  "maxZoom": 1,
  "radius": 20,
  "blur": 15,
}
            );
        
    
            heat_map_2245dd3ddc21a250439b7dec6864c555.addTo(map_a7d576dd1f117af7bc0bcf2dc66076bd);
        
</script>
</html>