<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_db90d8666ab6a9fd40d7d87c3a72340b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_db90d8666ab6a9fd40d7d87c3a72340b" ></div>
        
</body>
<script>
    
    
            var map_db90d8666ab6a9fd40d7d87c3a72340b = L.map(
                "map_db90d8666ab6a9fd40d7d87c3a72340b",
                {
                    center: [-16.4090474, -71.537451],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_1fac3c853f53e31d2b3364109304dcd5 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_1fac3c853f53e31d2b3364109304dcd5.addTo(map_db90d8666ab6a9fd40d7d87c3a72340b);
        
    
            var circle_marker_d2a45e604cae344a781ad0e3005bca76 = L.circleMarker(
                [-16.4223984444, -71.5073168278],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_db90d8666ab6a9fd40d7d87c3a72340b);
        
    
        var popup_7f9be481709cf8d06f52134bfde4984e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5babb5c06eeb2a031bda878452cae92e = $(`<div id="html_5babb5c06eeb2a031bda878452cae92e" style="width: 100.0%; height: 100.0%;">test reporte - 🔴 Alto</div>`)[0];
                popup_7f9be481709cf8d06f52134bfde4984e.setContent(html_5babb5c06eeb2a031bda878452cae92e);
            
        

        circle_marker_d2a45e604cae344a781ad0e3005bca76.bindPopup(popup_7f9be481709cf8d06f52134bfde4984e)
        ;

        
    
    
            var circle_marker_004f6849e3a0f3cc396bdbdbe95ce3fe = L.circleMarker(
                [-16.388529, -71.555243],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_db90d8666ab6a9fd40d7d87c3a72340b);
        
    
        var popup_b781f862b5126fd1e9a081a9aef0028b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0da10d6050575f6dbe629ba7a1468969 = $(`<div id="html_0da10d6050575f6dbe629ba7a1468969" style="width: 100.0%; height: 100.0%;">Calle cerrada - 🟡 Medio</div>`)[0];
                popup_b781f862b5126fd1e9a081a9aef0028b.setContent(html_0da10d6050575f6dbe629ba7a1468969);
            
        

        circle_marker_004f6849e3a0f3cc396bdbdbe95ce3fe.bindPopup(popup_b781f862b5126fd1e9a081a9aef0028b)
        ;

        
    
    
            var circle_marker_b32644cacfc6b3e3ee2507970993c9e1 = L.circleMarker(
                [-16.390587, -71.545329],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_db90d8666ab6a9fd40d7d87c3a72340b);
        
    
        var popup_5d56228e39c8a3ff4182a4f097cbd218 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2530f41749304a803d92faa2c49e054a = $(`<div id="html_2530f41749304a803d92faa2c49e054a" style="width: 100.0%; height: 100.0%;">Av. Ejercito - 🟡 Medio</div>`)[0];
                popup_5d56228e39c8a3ff4182a4f097cbd218.setContent(html_2530f41749304a803d92faa2c49e054a);
            
        

        circle_marker_b32644cacfc6b3e3ee2507970993c9e1.bindPopup(popup_5d56228e39c8a3ff4182a4f097cbd218)
        ;

        
    
    
            var circle_marker_c27e02032029546158540cb0dd1c141a = L.circleMarker(
                [-16.39524, -71.555028],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "darkred", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_db90d8666ab6a9fd40d7d87c3a72340b);
        
    
        var popup_4877a2a194947aafe271454c72fa4b46 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_890ba11869aa0c07fe793006cfae1404 = $(`<div id="html_890ba11869aa0c07fe793006cfae1404" style="width: 100.0%; height: 100.0%;">Accidente en avenida metropolitana - 🚨 Crítico</div>`)[0];
                popup_4877a2a194947aafe271454c72fa4b46.setContent(html_890ba11869aa0c07fe793006cfae1404);
            
        

        circle_marker_c27e02032029546158540cb0dd1c141a.bindPopup(popup_4877a2a194947aafe271454c72fa4b46)
        ;

        
    
    
            var heat_map_553edba6651bed2cf1ab6056daa5952e = L.heatLayer(
                [[-16.4223984444, -71.5073168278, 3], [-16.388529, -71.555243, 2], [-16.390587, -71.545329, 2], [-16.39524, -71.555028, 4]],
                {
  "minOpacity": 0.5,
  "maxZoom": 1,
  "radius": 20,
  "blur": 15,
}
            );
        
    
            heat_map_553edba6651bed2cf1ab6056daa5952e.addTo(map_db90d8666ab6a9fd40d7d87c3a72340b);
        
</script>
</html>